div.project-search-wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-flow: row;
}

div.project-search-wrapper .paper-left-column {
    width: 15%;
    height: 90%;
    background: #fff;
}

.paper-left-column .left-column-toolbar {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 64px;
    background: #673ab7;
    font-size: 16px;
    color: rgba(255,255,255,.87);
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

div.project-search-wrapper .paper-main-view {
    display: flex;
    position: relative;
    align-content: center;
    align-items: flex-start;
    justify-content: flex-start;
    width: 70%;
    height: calc(100% - 64px);
    padding: 0px 5px 5px 5px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.24), 0 0 3px rgba(0, 0, 0, 0.12);
    z-index: 10;
    overflow-y: scroll;
}

.paper-main-view md-progress-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.paper-main-view .mat-list {
    width: 100%;
    font-size: 13px;
}

.mat-list .mat-list-item {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 0 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 5px;
}

.mat-list .mat-list-item .mat-line {
    font-size: 13px;
    font-weight: bold;
}

.mat-list .mat-list-item span.md-line-title {
    font-weight: normal;
    margin-right: 5px;
    color: #666;
}

.mat-list .mat-list-item span.md-line-box {
    display: inline-block;
    width: 33.3%;
}

.mat-list .mat-list-item:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.05);
}

div.project-search-wrapper .paper-right-column {
    position: relative;
    width: 15%;
    height: 90%;
    background: #fff;
}

.paper-right-column .right-column-toolbar {
    width: 100%;
    height: 64px;
    background: #673ab7;
}

.paper-right-column .close-project-search {
    position: absolute;
    top: 36px;
    left: 50%;
    transform: translateX(-50%);
}