<div class="project-search-wrapper">
    <div class="paper-left-column">
        <div class="left-column-toolbar">
            <span>Search Options</span>
        </div>
    </div>
    <div class="paper-main-view">
        <md-progress-spinner class="example-margin" color="accent" mode="indeterminate">
    </md-progress-spinner>
    </div>
    <div class="paper-right-column">
        <div class="right-column-toolbar"></div>
        <button class="close-project-search" (click)="closeProjectSearch()" mdTooltip="Close seach results" md-fab><md-icon>close</md-icon></button>
    </div>
</div>