div.project-search-wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-flow: row;
}

div.project-search-wrapper .paper-left-column {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 90%;
    background: #fff;
}

.paper-left-column .left-column-toolbar {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 64px;
    background: #673ab7;
    font-size: 16px;
    color: rgba(255,255,255,.87);
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

div.project-search-wrapper .paper-main-view {
    position: relative;
    display: flex;
    align-content: center;
    align-items: flex-start;
    justify-content: flex-start;
    width: 70%;
    height: calc(100% - 64px);
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.24), 0 0 3px rgba(0, 0, 0, 0.12);
    z-index: 10;
    overflow-y: scroll;
}

.paper-main-view .paper-main-view-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11; 
}

.paper-main-view-wrapper .project-search-header {
    position: fixed;
    width: 70%;
    height: 63px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    background: #fff;
    box-shadow: 0 1px 3px -1px rgba(0,0,0,.2), 0 2px 3px 0 rgba(0,0,0,.14), 0 1px 1px 0 rgba(0,0,0,.12);
    z-index: 20;
}

.project-search-header .search-header-container {
    flex-grow: 1;
}

.project-search-header .left-container {
    padding-left: 10px;
    text-align: left;
    font-size: 13px;
}

.left-container .search-header-value {
    margin-left: 5px;
    font-size: 17px;
    font-weight: bold;
    color: #673ab7;
}

.project-search-header .right-container {
    text-align: right;
}

.right-container .right-container-wrapper {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
    font-size: 13px;
}

.right-container .right-container-wrapper span#clipboard-text, md-icon#clipboard-icon {
    margin-right: 10px;
}

.paper-main-view project-search-options {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 12;
    background: #fff;
}

.paper-main-view-wrapper md-progress-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.paper-main-view-wrapper .mat-list {
    width: 100%;
    margin-top: 64px;
    font-size: 13px;
}

.mat-list .mat-list-item {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 0 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 5px;
    padding: 0px 10px 0px 10px;
}

.mat-list .mat-list-item .mat-line {
    font-size: 13px;
    font-weight: bold;
}

.mat-list .mat-list-item span.md-line-title {
    font-weight: normal;
    margin-right: 5px;
    color: #666;
}

.mat-list .mat-list-item span.md-line-value:hover {
    cursor: pointer;
}

.mat-list .mat-list-item span.md-line-box {
    display: inline-block;
    width: 33.3%;
}

.mat-list .mat-list-item .add-project-task {
    position: absolute;
    right: 10px;
    top: 0;
    opacity: 1;
}

.mat-list .mat-list-item .view-project-details {
    position: absolute;
    right: 10px;
    bottom: 0;
    opacity: 1;
}

.mat-list .mat-list-item:hover {
    background: rgba(0, 0, 0, 0.05);
}

.mat-list .mat-list-item .add-project-task .mat-icon, .view-project-details .mat-icon {
    font-size: 30px;
    line-height: 30px;
    height: 30px;
    width: 30px;
    color: #777;
}

div.project-search-wrapper .paper-right-column {
    position: relative;
    width: 15%;
    height: 90%;
    background: #fff;
}

.paper-right-column .right-column-toolbar {
    width: 100%;
    height: 64px;
    background: #673ab7;
}

.paper-right-column .close-project-search {
    position: absolute;
    top: 36px;
    left: 50%;
    transform: translateX(-50%);
}