<div class="search-options-wrapper">
    <div class="search-options-header">
        <div class="options-header">
            <div class="options-header-line"></div>
        </div>
        <button id="options-back-button" md-icon-button (click)="closeSearchOptions()" mdTooltip="Close Search Options"><md-icon>reply</md-icon></button>
        <div class="options-header">
            <div class="options-header-line"></div>
        </div>
        <div class="options-header header-title">
            <span>Define your custom search preferences</span>
        </div>
    </div>
</div>