<div class="developer-tools-wrapper">
    <div class="paper-left-column">
        <div class="left-column-toolbar">
            <span>Available Options</span>
        </div>
        <md-list>
            <h3 md-subheader>Personal Area</h3>
            <md-list-item>
                <md-icon md-list-avatar>settings</md-icon>
                <h4 md-line>Seniority Level</h4>
            </md-list-item>
            <md-list-item>
                <md-icon md-list-avatar>settings</md-icon>
                <h4 md-line>Role</h4>
            </md-list-item>
            <md-list-item>
                <md-icon md-list-avatar>settings</md-icon>
                <h4 md-line>Status</h4>
            </md-list-item>
            <md-divider></md-divider>
            <h3 md-subheader>Another Module</h3>
            <md-list-item>
                <md-icon md-list-avatar>settings</md-icon>
                <h4 md-line>Test</h4>
            </md-list-item>
            <md-list-item>
                <md-icon md-list-avatar>settings</md-icon>
                <h4 md-line>Test 2</h4>
            </md-list-item>
            <md-list-item>
                <md-icon md-list-avatar>settings</md-icon>
                <h4 md-line>Test 3</h4>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
    </div>
    <div class="paper-main-view">
        <md-grid-list cols="2" rowHeight="100%">
            <md-grid-tile [style.backgroundColor]="red">
                1
            </md-grid-tile>
            <md-grid-tile>
                2
            </md-grid-tile>
        </md-grid-list>
    </div>
</div>