md-toolbar {
    position: relative;
    z-index: 10;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    color: #fff;
}

md-toolbar .toolbar-search-project {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding-top: 9px;
    flex-grow: 10;
}

.toolbar-search-project .toolbar-input-full-width {
    width: 70%;
    margin: 0px;
}

.toolbar-input-full-width /deep/ span.mat-input-placeholder-wrapper label {
    color: rgba(255,255,255,.60);
}

.toolbar-input-full-width /deep/ .mat-input-underline {
    border-color: rgba(255,255,255,.60);
}

.toolbar-search-project .mat-raised-button {
    top: -7px;
    box-shadow: none;
}

md-toolbar .toolbar-right-wrapper {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

[md-menu-item] .menu-item-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

[md-menu-item] .menu-item-wrapper img {
    max-height: 36px;
    margin-right: 5px;
}

md-sidenav-container {
    display: flex;
    flex: 1 1 auto;
}

md-sidenav {
    width: 320px;
}

md-sidenav .sidenav-header {
    display: flex;
    flex-direction: column-reverse;
    width: 288px;
    height: 148px;
    padding: 16px;
    background-image: url("../assets/img/sidenav_background_1.jpg");
    background-position: center;
}

.sidenav-header .sidenav-header-email, .sidenav-header-name {
    color: #fff;
}

.sidenav-header .sidenav-header-email {
    font-size: 14px;
}

app-production {
    display: block;
    width: inherit;
    height: inherit;
}

app-landing-page {
    display: block;
    width: inherit;
    height: 100vh;
}

app-project-search {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background: #fafafa;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}