<md-toolbar color="primary">
  <button md-icon-button mdTooltip="Menu" (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
  <span style="margin-left: 20px;">
    {{dynamicTitle}}
  </span>
  <div *ngIf="toggleToolbarSearch" [@showToolbarSearchAnimation]="toggleToolbarSearch" class="toolbar-search-project">
    <md-input-container class="toolbar-input-full-width">
        <input #toolbarSearchBox mdInput placeholder="Search projects by Name, Job# or Event" [value]="initialSearchValue">
    </md-input-container>
    <button md-raised-button color="accent" (click)="searchForProjects(toolbarSearchBox.value)">Search</button>
  </div>
  <div class="toolbar-right-wrapper">
    <button md-icon-button mdTooltip="Landing Page" (click)="gotoModule('landing-page')">
      <md-icon>home</md-icon>
    </button>
    <button md-icon-button mdTooltip="Notifications">
      <md-icon>notifications</md-icon>
    </button>
    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>view_module</md-icon>
    </button>
    <span mdTooltip="Available Modules">
      <md-menu #menu="mdMenu">
        <button md-menu-item (click)="gotoModule('personal-area')">
          <div class="menu-item-wrapper">
            <img src="assets/img/36x36/personal_info.png" alt="">
            <span>Personal Area</span>
          </div>
        </button>
        <button md-menu-item>
        <div class="menu-item-wrapper">
            <img src="assets/img/36x36/items_management.png" alt="">
            <span>Items Management</span>
        </div>
        </button>
        <button md-menu-item (click)="gotoModule('production')">
          <div class="menu-item-wrapper">
            <img src="assets/img/36x36/production.png" alt="">
            <span>Tasks production</span>
          </div>
        </button>
        <button md-menu-item>
          <div class="menu-item-wrapper">
            <img src="assets/img/36x36/projects_management.png" alt="">
            <span>Projects Management</span>
          </div>
        </button>
        <button md-menu-item>
          <div class="menu-item-wrapper">
            <img src="assets/img/36x36/tasks_management.png" alt="">
            <span>Tasks Management</span>
          </div>
        </button>
        <button md-menu-item>
          <div class="menu-item-wrapper">
            <img src="assets/img/36x36/statistics.png" alt="">
            <span>Statistics</span>
          </div>
        </button>
        <button md-menu-item (click)="gotoModule('developer-tools')">
          <div class="menu-item-wrapper">
            <img src="assets/img/36x36/developer_settings.png" alt="">
            <span>Developer Tools</span>
          </div>
        </button>
      </md-menu>
    </span>
  </div>
</md-toolbar>
<md-sidenav-container>
  <md-sidenav #sidenav mode="over" class="app-sidenav">
    <div class="sidenav-header">
      <span class="sidenav-header-email">marian.negulici@ipsos.com</span>
      <span class="sidenav-header-name">Negulici Marian</span>
    </div>
    <app-sidenav></app-sidenav>
  </md-sidenav>
  <app-project-search *ngIf="showSearchResults"></app-project-search>
  <router-outlet></router-outlet>
</md-sidenav-container>
