div.add-new-note-container {
    width: inherit;
}

div.add-new-note-container md-toolbar {
    -webkit-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

div.add-new-note-container .fr-box {
    margin-top: 10px;
    margin-bottom: 19px;
}

div.add-new-note-container div.actions-container {
    padding-right: 20px;
    text-align: right;
}

div.actions-container i.material-icons {
    margin-right: 7px;
}